/* custom Black */
@font-face {
  font-family: 'custom-black';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_black.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

/* custom Black Italic */
@font-face {
  font-family: 'custom-black-italic';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_black_italic.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: italic;
  font-display: swap;
}

/* custom Bold */
@font-face {
  font-family: 'custom-bold';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

/* custom Bold Italic */
@font-face {
  font-family: 'custom-bold-italic';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_bold_italic.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: italic;
  font-display: swap;
}

/* custom Light Italic */
@font-face {
  font-family: 'custom-light-italic';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_light_italic.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: italic;
  font-display: swap;
}

/* custom Medium Italic */
@font-face {
  font-family: 'custom-medium-italic';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_medium_italic.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: italic;
  font-display: swap;
}

/* custom Regular */
@font-face {
  font-family: 'custom';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_regular.otf') format('opentype');
  font-weight: normal; /* Regular */
  font-style: normal;
  font-display: swap;
}

/* custom Regular Italic */
@font-face {
  font-family: 'custom-italic';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_regular_italic.otf') format('opentype');
  font-weight: normal; /* Regular */
  font-style: italic;
  font-display: swap;
}

/* custom Thin */
@font-face {
  font-family: 'custom-thin';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_thin.otf') format('opentype');
  font-weight: 100; /* Thin */
  font-style: normal;
  font-display: swap;
}

/* custom Thin Italic */
@font-face {
  font-family: 'custom-thin-italic';
  src: url('/assets/font/HvDTrial_Brandon_Grotesque_thin_italic.otf') format('opentype');
  font-weight: 100; /* Thin */
  font-style: italic;
  font-display: swap;
}

/* Monument Extended Regular */
@font-face {
  font-family: 'Monument Extended';
  src: url('/assets/font/MonumentExtended-Regular.otf') format('opentype');
  font-weight: normal; /* Regular */
  font-style: normal;
  font-display: swap;
}

/* Custom Classes for Each Font */
.custom-black {
  font-family: 'custom-black', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.custom-black-italic {
  font-family: 'custom-black-italic', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.custom-bold {
  font-family: 'custom-bold', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.custom-bold-italic {
  font-family: 'custom-bold-italic', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.custom-light-italic {
  font-family: 'custom-light-italic', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.custom-medium-italic {
  font-family: 'custom-medium-italic', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.custom {
  font-family: 'custom', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.custom-italic {
  font-family: 'custom-italic', sans-serif;
  font-weight: normal;
  font-style: italic;
}

.custom-thin {
  font-family: 'custom-thin', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.custom-thin-italic {
  font-family: 'custom-thin-italic', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.monument {
  font-family: 'Monument Extended', sans-serif;
  font-weight: normal;
  font-style: normal;
}



:root {
	--color-primary: rgba(5, 249, 255, 1);
	--transition: 0.4s;
}



.base-template__wrapper {
	/* min-height: calc(100dvh - 300px); */
	justify-content: flex-start;
	/* padding-bottom: 450px; */
}

.wrapper {
	max-width: 1445px;
}

a {
	color: #fff;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.header {
	display: flex;
	align-items: center;
	position: relative;
	padding: 0 20px 0 40px;
	border-radius: 60px;
	min-height: 82px;
	background-color: rgba(25, 27, 36, 1);
}

.header__logo {
	max-width: 90px;
}

.header__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

.header__navigation-wrapper {
	display: flex;
	width: 100%;
	padding-left: 50px;
}

.header__list {
	display: flex;
	align-items: center;
	gap: 28px;
	margin: 0;
	padding: 0;
}

.header__list-item {
	display: flex;
	padding: 20px 0 20px;
	margin-bottom: -20px;
	gap: 8px;
	font-size: 16px;
}

.header__list-item > a {
	display: flex;
	align-items: center;
	gap: 8px;
	transition: var(--transition);
}

.header__list-item > a svg path {
	transition: var(--transition);
}

.header__list-item .submenu-wrapper {
	position: absolute;
	width: 100%;
	top: 110%;
	left: 0;
	border-radius: 33px;
	padding: 30px 30px 50px 30px;
	background-color: rgba(25, 27, 36, 1);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: var(--transition);
}

.header__buttons-wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
	margin-left: auto;
}

.header__button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 42px;
	width: max-content;
	padding: 6px 20px;
	border-radius: 100px;
	gap: 8px;
	font-size: 16px;
	font-weight: 400;
	transition: var(--transition);
}

.submenu-list__title {
	width: max-content;
	margin-bottom: 25px;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(160, 161, 165, 1);
}

.submenu-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 295px;
	padding-left: 0;
}

.submenu-list__item {
	display: flex;
	padding-right: 100px;
	margin-right: -100px;
	cursor: pointer;
}

.submenu-list__item-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 6px 16px 6px 6px;
	gap: 16px;
	border-radius: 14px;
	transition: var(--transition);
}

.submenu-list__item-wrapper > svg {
	margin-left: auto;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition);
}

.submenu-list__wrapper {
	position: relative;
}

.submenu-content {
	position: absolute;
	right: 0;
	top: 0;
	max-width: calc(100% - 365px);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: var(--transition);
}

.submenu-list__item.has-submenu.active .submenu-content {
	opacity: 1;
	visibility: visible;
}

.submenu-list__item.has-submenu.active .submenu-list__item-wrapper {
	background-color: rgba(255, 255, 255, 0.04);
}

.submenu-list__item.has-submenu.active .submenu-list__item-wrapper > svg {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.submenu-list__item-link {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.submenu-list__item-title {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

.submenu-list__item-icon {
	display: flex;
}

.submenu-list__item-subtile {
	font-size: 12px;
	font-weight: 400;
	color: rgba(160, 161, 165, 1);
}

.submenu-content__title {
	width: max-content;
	margin-bottom: 25px;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(160, 161, 165, 1);
}

.submenu-content__list:not(.events) {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 0;
}

.submenu-content__list.events {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	padding: 0;
}

.submenu-content__list-item {
	display: block;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.05);
	cursor: auto;
}

.submenu-content__link {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	padding: 10px 10px 20px;
	border: 1px solid transparent;
	transition: var(--transition);
}

.submenu-content__link-img {
	margin-bottom: 20px;
	border-radius: 13px;
	overflow: hidden;
	transition: var(--transition);
}

.submenu-content__link-img img {
	transition: 0.4s ease-in;
}

.submenu-content__link-title {
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 12px;
}

.submenu-content__link-text {
	padding: 0 10px;
	font-size: 12px;
	color: rgba(160, 161, 165, 1);
}

.submenu-content__link-wrapper {
	display: flex;
	gap: 20px;
	padding: 10px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.05);
}

.submenu-content__list.events .submenu-content__link-img {
	width: 100%;
	max-width: 220px;
	flex: 1;
	border-radius: 13px;
	margin-bottom: 0;
}

.submenu-content__info {
	display: flex;
	flex-direction: column;
	flex: 1 0;
}

.submenu-content__category {
	display: flex;
	align-items: center;
	gap: 10px;
	width: max-content;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-radius: 30px;
	font-size: 12px;
	font-weight: 500;
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.7);
}

.submenu-content__list.events .submenu-content__link-title,
.submenu-content__list.events .submenu-content__link-text {
	padding: 0;
	margin-bottom: 12px;
}

.submenu-content__link-address,
.submenu-content__link-date {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-bottom: 12px;
	font-size: 12px;
	font-weight: 400;
	color: rgba(160, 161, 165, 1);
}

.submenu-content__link-address span,
.submenu-content__link-date span {
	line-height: 0.9;
}

.submenu-content__url {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: auto;
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	transition: var(--transition);

	svg,
	svg path {
		transition: var(--transition);
	}
}

.header__burger {
	display: none;
	flex-direction: column;
	align-items: flex-end;
	gap: 4px;
	width: 24px;
	margin-left: auto;
}

.header__burger i {
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 13px;
	transition: var(--transition);
}

.header__burger.active i:nth-child(1) {
	transform: rotate(45deg) translate(4px, 4px);
}

.header__burger.active i:nth-child(2) {
	opacity: 0;
}

.header__burger.active i:nth-child(3) {
	transform: rotate(-45deg) translate(4px, -5px);
}

@media (hover: hover) and (pointer: fine) {
	.header__list-item:hover .submenu-wrapper {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header__list-item:hover ~ .header__list-item .submenu-wrapper {
		display: none;
	}

	.header__list-item:hover > a,
	.header__list-item:hover > a svg path {
		color: var(--color-primary);
		fill: var(--color-primary);
	}

	.header__button:hover {
		background-color: rgba(255, 255, 255, 0.05);
	}

	.submenu-list__item.has-submenu:hover .submenu-list__item-wrapper {
		background-color: rgba(255, 255, 255, 0.04);
	}

	.submenu-list__item.has-submenu:hover .submenu-content,
	.submenu-list__item.has-submenu:hover .submenu-list__item-wrapper > svg {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.submenu-content__list-item:hover .submenu-content__link {
		border-color: rgba(255, 255, 255, 0.3);
	}

	.submenu-content__list-item:hover .submenu-content__link-img img {
		transform: scale(1.05);
	}

	.submenu-content__url:hover,
	.submenu-content__url:hover svg path {
		color: var(--color-primary);
		stroke: var(--color-primary);
	}

	.submenu-content__url:hover svg {
		transform: translateX(5px);
	}
}

@media screen and (max-width: 1280px) {
	.header__navigation-wrapper {
		padding-left: 25px;
	}

	.submenu-list {
		max-width: 250px;
	}

	.submenu-content {
		max-width: calc(100% - 270px);
	}

	.submenu-content__url {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1024px) {
	.base-template__wrapper {
		/* min-height: 105vh; */
	}

	.header {
		min-height: 64px;
		padding: 0 20px;
	}

	.header__burger {
		display: flex;
	}

	.header__navigation-wrapper {
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 110%;
		left: 0;
		padding: 20px;
		background-color: rgba(25, 27, 36, 1);
		border-radius: 20px;
		opacity: 0;
		visibility: hidden;
		transition: var(--transition);
	}

	.header__navigation-wrapper.open {
		opacity: 1;
		visibility: visible;
	}

	.header__list {
		flex-direction: column;
		gap: 30px;
	}

	.header__buttons-wrapper {
		flex-direction: column;
		margin-left: unset;
		margin-top: 50px;
		gap: 8px;
	}

	.header__navigation,
	.header__list {
		width: 100%;
	}

	.header__list-item {
		flex-direction: column;
		width: 100%;
		padding: 0;
		gap: 0;
		margin: 0;
	}

	.header__list-item.active a,
	.header__list-item.active a > svg path {
		fill: var(--color-primary);
		color: var(--color-primary);
	}

	.header__list-item .submenu-wrapper {
		position: static;
		padding: 0;
		max-height: 0;
		border-radius: 0;
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		overflow: hidden;
		transition: max-height var(--transition);
	}

	.submenu-list {
		width: 100%;
		max-width: 100%;
		gap: 5px;
	}

	.submenu-list__wrapper {
		margin-top: 30px;
	}

	.submenu-list__item {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.submenu-list__item:active .submenu-list__item-wrapper {
		background-color: rgba(255, 255, 255, 0.04);
	}

	.submenu-list__item:active .submenu-list__item-wrapper > svg {
		opacity: 1;
		visibility: visible;
	}

	.submenu-list__title {
		display: none;
	}

	.submenu-content {
		display: none;
	}

	.header__button {
		border: 1px solid rgba(255, 255, 255, 1);
	}
}

@media screen and (max-width: 767.9px) {
	.header__buttons-wrapper,
	.header__button {
		width: 100%;
	}
}
.header__list-item.has-submenu:hover .submenu-wrapper {
  display: block;
}
.submenu-list__item.active .submenu-content {
  display: block;
}